$color-secondary: #f4f6f8;

html {
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

#root {
  width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
  left: 0;
  background: linear-gradient(45deg,#3949AB,#1E88E5);
}

#pauseIcon {
  display: none;
}

#visualizerArea:hover > #pauseIcon {
  display: block;
}