.visualisations-container {
    font-size: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
}
.visualisations-element {
    border-radius: 2px;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
    border: 4px dashed #8d8d8d;
    transition: transform .2s;
}

.visualisations-element:hover {
    box-shadow: 8px 8px 8px rgba(0,0,0,0.4);
    transform: scale(1.05);
    cursor: pointer;
  }

.array-container {
    height: 200px;
    padding: 3px;
    background: #e3e3e3;
    display: grid;
    grid-template-columns: repeat(100, 1fr); 
    column-gap: 1px;
    align-items: flex-end;
}

.array-element {
    height: 100%;
    background-color: blue;
}