/* ----- Variables ----- */

$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40;

/* ----- Global ----- */

h3 {
	font-size: 1em;
	letter-spacing: 1.2px;
	color: $color-secondary;
}

/* ----- Visualizer-carousel ----- */

.vizualizers-carousel {

}

.carousel-btn {
	position: absolute;
    z-index: 10;
    top: 50%;
	border: 3px solid #fdc84b;
	
	button {
		border: none;
		outline: none;
		padding: 0;
		background-color: inherit;
		display: flex;
		align-content: center;

		&>i {
			padding: 30px 20px;
		}
	}
	
	&.next {
		right: 3%;
		transform: translateY(-50%);
	}

	&.back {
		left: 3%;
		transform: translateY(-50%);
	}
}

.vizualizer-card {
	display: grid;
	grid-template-columns: 1fr 1.2fr;
	margin: auto;
	width: 70%;
	padding: 1.5em 0;
	min-width: 600px;
	min-height: 500px;
	background-color: white;
	border-radius: 5px;
}

/* ----- Visualizer ----- */

.vizualizer-container {
	position: relative;
	right: 2.5em;
	display: grid;
	grid-template-rows: 1fr;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	border-radius: 8px 8px 0 0;
}

.visualizer-window {
	padding: 10px;
	box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
    width: 100%;
	height: 100%;
	background: #e3e3e3;
	transition: transform .2s;
	border-radius: 5px 5px 0 0;

	&:hover {
		cursor: pointer;
  	}
}

.array-types {
	background: radial-gradient(#e5f89e, #96e001);
	border-radius: 0px 0px 15px 15px;
	box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.3);

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		justify-content: space-around;
		padding: 0.5em 0;
	}

	li {
		text-align: center;
		cursor: pointer;
		background-color: royalblue;

		width: 60px;
		height: 60px;
		line-height: 60px;

		&:hover {
			background: rebeccapurple;
			transition: all .2s ease-in-out;
		}
	}
}

.visualizer {
	width: 100%;
	height: 100%;
	
    &.bars-horizontal { 
		display: grid;
		grid-template-rows: repeat(100, minmax(1px, 1fr)); 
		row-gap: 1px;
	} 

	&.bars-vertical {
		display: grid;
		grid-template-columns: repeat(100, minmax(1px, 1fr)); 
		column-gap: 1px;
		align-items: flex-end;
	} 
}

.visualizer-bar {
	height: 100%;
	
	&.blue {
		background-color: blue;
	}

	&.red {
		background-color: red;
	}

	&.green {
		background-color: green;
	}
}

/* ----- Visualizer-info ----- */

.title {
	h1 {
		margin-bottom: 0.1em;
		color: $color-primary;
		font-size: 1.8em;
		font-weight: 900;
	}

	span {
		font-size: 0.9em;
		color: $color-secondary;
	}
}

.info-tab {
	margin: 2em 0;

	h3 {
		margin-bottom: 1em;
	}

	ul {
		font-size: 0.8em;
		list-style: disc;
		list-style-type: none;
	}

	li {
		text-indent: -0.6em;
		margin-bottom: 0.5em;
	}
}



/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/* Style each tab content individually */
#London {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}