/* ----- Variables ----- */

$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40;

/* ----- Global ----- */

h3 {
	font-size: 1em;
	letter-spacing: 1.2px;
	color: $color-secondary;
}

img {
	max-width: 100%;
	filter: drop-shadow(1px 1px 3px $color-secondary);
}

/* ----- Visualizer ----- */

.vizualizers-carousel {

}

.vizualizer-card {
	display: grid;
	grid-template-columns: 1fr 1.2fr;
	margin: auto;
	width: 70%;
	padding: 1.5em 0;
	min-width: 600px;
	background-color: white;
	border-radius: 5px;
}

.vizualizer-container {
	position: relative;
	left: -2.5em;
	display: grid;
	grid-template-rows: 1fr;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
	border-radius: 8px 8px 0 0;
	background-color: #9be010;
	background: radial-gradient(#e5f89e, #96e001);
}

.visualizer-window {
    height: 250px;
    border-radius: 2px;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
    border: 4px dashed #8d8d8d;
	transition: transform .2s;
	
	&:hover {
		box-shadow: 8px 8px 8px rgba(0,0,0,0.4);
		transform: scale(1.02);
		cursor: pointer;
  	}

}

.array-types {
	border-radius: 0px 0px 15px 15px;
	background-color: #fff;

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		justify-content: space-evenly;
		padding: 0;
	}

	li {
		width: 1fr;
		height: 1fr;
		border: 1px solid $color-secondary;
		border-radius: 3px;
	}
}

.visualizer {
    height: 100%;
    padding: 0 20px 0 20px;
    background: #e3e3e3;
    display: grid;
    grid-template-columns: repeat(100, minmax(1px, 1fr)); 
    column-gap: 1px;
    align-items: flex-end;
}

.visualizer-bar {
	height: 100%;
	
	&.blue {
		background-color: blue;
	}

	&.red {
		background-color: red;
	}

	&.green {
		background-color: green;
	}
}

.title {
	h1 {
		margin-bottom: 0.1em;
		color: $color-primary;
		font-size: 1.8em;
		font-weight: 900;
	}

	span {
		font-size: 0.9em;
		color: $color-secondary;
	}
}

.info-tab {
	margin: 2em 0;

	h3 {
		margin-bottom: 1em;
	}

	ul {
		font-size: 0.8em;
		list-style: disc;
		list-style-type: none;
	}

	li {
		text-indent: -0.6em;
		margin-bottom: 0.5em;
	}
}