/* ----- Variables ----- */

$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40;

/* ----- Global ----- */

h3 {
	font-size: 1em;
	letter-spacing: 1.2px;
	color: $color-secondary;
}

/* ----- Visualizer-carousel ----- */

@keyframes tonext {
	75% {
	  left: 0;
	}
	95% {
	  left: 100%;
	}
	98% {
	  left: 100%;
	}
	99% {
	  left: 0;
	}
  }
  
  @keyframes tostart {
	75% {
	  left: 0;
	}
	95% {
	  left: -300%;
	}
	98% {
	  left: -300%;
	}
	99% {
	  left: 0;
	}
  }
  
  @keyframes snap {
	96% {
	  scroll-snap-align: center;
	}
	97% {
	  scroll-snap-align: none;
	}
	99% {
	  scroll-snap-align: none;
	}
	100% {
	  scroll-snap-align: center;
	}
  }
  
  body {
	max-width: 37.5rem;
	margin: 0 auto;
	padding: 0 1.25rem;
	font-family: 'Lato', sans-serif;
  }
  
  * {
	box-sizing: border-box;
	scrollbar-color: transparent transparent; /* thumb and track color */
	scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
	width: 0;
  }
  
  *::-webkit-scrollbar-track {
	background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
	background: transparent;
	border: none;
  }
  
  * {
	-ms-overflow-style: none;
  }
  
  ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .carousel {
	position: relative;
	padding-top: 75%;
	filter: drop-shadow(0 0 10px #0003);
	perspective: 100px;
  }
  
  .carousel__viewport {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	overflow-x: scroll;
	counter-reset: item;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
	position: relative;
	flex: 0 0 100%;
	width: 100%;
	background-color: #f99;
	counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
	background-color: #99f;
  }
  
  .carousel__slide:before {
	content: counter(item);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-40%,70px);
	color: #fff;
	font-size: 2em;
  }
  
  .carousel__snapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	scroll-snap-align: center;
  }
  
  @media (hover: hover) {
	.carousel__snapper {
	  animation-name: tonext, snap;
	  animation-timing-function: ease;
	  animation-duration: 4s;
	  animation-iteration-count: infinite;
	}
  
	.carousel__slide:last-child .carousel__snapper {
	  animation-name: tostart, snap;
	}
  }
  
  @media (prefers-reduced-motion: reduce) {
	.carousel__snapper {
	  animation-name: none;
	}
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
	animation-name: none;
  }
  
  .carousel__navigation {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
	display: inline-block;
  }
  
  .carousel__navigation-button {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #333;
	background-clip: content-box;
	border: 0.25rem solid transparent;
	border-radius: 50%;
	font-size: 0;
	transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
	position: absolute;
	top: 0;
	margin-top: 37.5%;
	width: 4rem;
	height: 4rem;
	transform: translateY(-50%);
	border-radius: 50%;
	font-size: 0;
	outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
	left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
	right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
	content: '';
	z-index: 1;
	background-color: #333;
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	font-size: 2.5rem;
	line-height: 4rem;
	text-align: center;
	pointer-events: none;
  }
  
  .carousel::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }

/* end carousel */

.carousel-container {

}

.carousel-btn {
	position: absolute;
    z-index: 10;
    top: 50%;
	border: 3px solid #fdc84b;
	
	button {
		border: none;
		outline: none;
		padding: 0;
		background-color: inherit;
		display: flex;
		align-content: center;

		&>i {
			padding: 30px 20px;
		}
	}
	
	&.next {
		right: 3%;
		transform: translateY(-50%);
	}

	&.back {
		left: 3%;
		transform: translateY(-50%);
	}
}

.vizualizer-card {
	display: grid;
	grid-template-columns: 1fr 1.2fr;
	margin: 1.5em auto;
	width: 70%;
	padding: 1.5em 0;
	min-width: 600px;
	min-height: 500px;
	background-color: white;
	border-radius: 5px;
}

/* ----- Visualizer ----- */

.vizualizer-container {
	position: relative;
	right: 2.5em;
	display: grid;
	grid-template-rows: 1fr;
	width: 100%;
	height: 100%;
	border-radius: 8px 8px 0 0;
}

.visualizer-window {
	padding: 10px;
	box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
    width: 100%;
	height: 100%;
	background: #e3e3e3;
	transition: transform .2s;
	border-radius: 5px 5px 0 0;

	&:hover {
		cursor: pointer;
  	}
}

.array-types {
	background: radial-gradient(#e5f89e, #96e001);
	border-radius: 0px 0px 15px 15px;
	box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.3);

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		justify-content: space-around;
		padding: 0.5em 0;
	}

	li {
		text-align: center;
		cursor: pointer;
		background-color: royalblue;
		border-radius: 10px;

		width: 60px;
		height: 60px;
		line-height: 60px;

		&:hover {
			background: rebeccapurple;
			transition: all .2s ease-in-out;
		}
	}
}

.visualizer {
	width: 100%;
	height: 100%;
	
    &.bars-horizontal { 
		display: grid;
		grid-template-rows: repeat(100, minmax(1px, 1fr)); 
		row-gap: 1px;
	} 

	&.bars-vertical {
		display: grid;
		grid-template-columns: repeat(100, minmax(1px, 1fr)); 
		column-gap: 1px;
		align-items: flex-end;
	} 
}

.visualizer-bar {
	height: 100%;
	
	&.blue {
		background-color: blue;
	}

	&.red {
		background-color: red;
	}

	&.green {
		background-color: green;
	}
}

/* ----- Visualizer-info ----- */

.info-panel {
	display: flex;
	flex-direction: column;
	right: 1.25em;
	position: relative;
}

.title {
	h1 {
		margin-bottom: 0.1em;
		color: $color-primary;
		font-size: 1.8em;
		font-weight: 900;
	}

	span {
		font-size: 0.9em;
		color: $color-secondary;
	}
}

.tabs {
	display: flex;

	&>.tablink {
		background-color: #555;
		color: white;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		font-size: 17px;
		flex: 1;

		&:first-child {
			border-top-left-radius: 5px;
		}

		&:last-child {
			border-top-right-radius: 5px;
		}
  
		&:hover {
			background-color: #777;
		}
  	}
}

.tabcontent {
	color: black;
	display: none;
	padding: 50px;
	text-align: center;
	background-color: rgb(202, 198, 182);
	border-radius: 0 0 5px 5px;
}	